html, body {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    color: #1a1e1d;
}

.main-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

/*===================HEADER=================*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    padding: 0px 15px 18px;
    border-bottom: 1px solid #d2d8d7;
    box-shadow: 0 1px 0 #d2d8d7;
}

.header__main-logo {
    background: url("./img/logo.png");
    max-width: 130px;
    width: 100%;
    height: 44px;
}



input {
    border: 1px;
    background-image: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

input:focus {
    background-image: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding-left: 10px;
}

.header__nav{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.header__nav-container {
    max-height: 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


.header__dropdown {
    position: relative;
    display: inline-block;
}


.header__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header__dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header__dropdown-content a:hover {
    background-color: #f1f1f1
}
.header__dropbtn {
    border: none;
    background-image: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.header__dropdown:hover .header__dropdown-content {
    display: block;
}

.header__search {
    max-width: 547px;
    width: 100%;
    padding: 0px 0 6px 22px;
    border-radius: 38px;
    border: 1px solid #e1eae7;
    background-color: #f4f8f7;
}

.icon {
    display: inline-block;
}

.icon__main {
    background: url("./img/header-sprit.png");
    background-repeat: no-repeat;
}

.icon__main--book {
    background-position: 3px -5px;
    padding: 13px 18px;
}

.icon__main--arrows {
    background-position: -110px -5px;
    padding: 10px 10px;
}

.icon__main--search {
    background-position: -172px -4px;
    padding: 13px;
}

.icon__main--user {
    background-position: -803px -6px;
    padding: 13px;
}

.icon__main--notification {
    background-position: -842px -6px;
    padding: 13px;
}

.header__user-pic {
    background: url("./img/user1.png");
    width: 20px;
    height: 20px;
}

.header__notification {
    margin-bottom: 15px;
}

/*==============MAIN CONTENT=============*/
.main {
    background-color: #f4f8f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.main__user-info {
    max-width: 100%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__user-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 273px;
    width: 100%;
    height: 272px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.user-pic {
    background-image: url("./img/user2.png");
    width: 72px;
    height: 72px;
    margin-left: 23px;
    margin-bottom: 20px;
}

.main__user-job {
    color: #555a59;
    font-size: 12px;
    margin: 5px;
}
.main__user-name {
    margin: 3px;
}
.main__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.main__social {
    margin-top: 40px;
}


.icon__social {
    background: url("./img/social-sprite.png");
    background-repeat: no-repeat;
}

.icon__social--fb {
    background-position: 16px 2px;
    padding: 13px 18px;
}
.icon__social--twitter {
    background-position: -13px 2px;
    padding: 13px 18px;
}
.icon__social--telegram {
    background-position: -42px 2px;
    padding: 13px 18px;
}

.main__user-bio--more a {
    color: #3bb497;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon__main--more {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color:#3bb497 transparent transparent transparent;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.main__user-bio--info {
    color: #1a1e1d;
    font-size: 13px;
    line-height: 21px;
}

.main__user-bio--title {
    color: #1a1e1d;
    font-size: 14px;
    line-height: 21px;
    margin-top: 30px;
    margin-bottom: 0;
}

.main__content {
    max-width: 861px;
    width: 100%;
    /*background-color: #ffffff;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    margin-top: 55px;
    box-shadow: 0 1px 0 #d2d8d7;
}


.main__content--statistic {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    background-color: #ffffff;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    box-shadow: 0 1px 0 #d2d8d7;
}

.statistic_num {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

.statistic_text {
    color: #848c8a;
    font-size: 12px;
    line-height: 18px;
}

.main__content--courses_box {
    background-color: #ffffff;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*margin-bottom: 15px;*/
    margin-bottom: 30px;
    box-shadow: 0 1px 0 #d2d8d7;
}

.courses_box-img {
    width: 144px;
    height: 144px;
}

.pic1{
    background: url("./img/photo1.png");
}
.pic2{
    background: url("./img/photo2.png");
}
.pic3{
    background: url("./img/photo3.png");
}

.courses_box-content {
    /*border-right: 1px solid;*/

}

.main__content--courses_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.courses_box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__content--courses_title {
    display: flex;
    justify-content: center;
}
.courses_box-content--icons {
    display: flex;
    margin: 12px 0;
}

.icon__content {
    background: url("./img/content-sprite.png");
    background-repeat: no-repeat;
}

.icon__content--dote {
    background-position: -22px 19px;
    padding: 13px 24px;
}
.icon__content--laval {
    background-position: 53px -42px;
    padding: 10px 67px 0 10px;
}

.icon__content--num {
    background-position: -123px -42px;
    padding: 10px 27px 0 10px;
}

.icon__content--people {
    background-position: -189px -42px;
    padding: 10px 27px 0 10px;
}
.icon__content--comment {
    background-position: -262px -43px;
    padding: 10px 27px 0 10px;
}

.courses_box-content--text {
    color: #1a1e1d;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.courses__box-job, .courses_box-data {
    font-size: 13px;
    line-height: 24px;
}
.courses__box-job {
    color: #3bb497;
}
.courses_box-data {
    color: #848c8a;
}

.icon__content--text {
    color: #1a1e1d;
    font-size: 13px;
    line-height: 24px;
}

.courses_box-price{
    margin: 12px 0px;
    font-weight: bold;
}

.icon__content--text {
    margin: 12px 1px 0;
}
.main__content--learning {
    margin-bottom: 50px;
}
.main__content--learning--box, .main__content--completed--box {
  /*  max-width: 861px;
    width: 100%;*/
    height: 80px;
    box-shadow: 0 1px 0 #e1eae7;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e1eae7;
    align-items: center;
}


.main__content--courses_title, .main__content--courses_title {
    color: #1a1e1d;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
/*.main__content--learning--box, .main__content--completed--box {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
.main__content--learning--box_info, .main__content--completed--box_info {
    color: #1a1e1d;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}
.main__content--learning--box_progress {
    display: flex;
    flex-direction: column;
}
.learning--box_title, .learning--box_num {
    color: #000000;
    font-size: 12px;
    line-height: 24px;
}

.learning--box_num {
    font-weight: bold;
}

.learning--box_progress {
    max-width: 204px;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: linear-gradient(#f5a623, #e1eae7);
}

.completed-text {
    padding-top: 26px;
}

footer {
    background-color: #47546d;
    margin-top: 1px;
}

.footer__container {
    display: flex;
    flex-direction: column;
}
.footer__info {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    background: url("./img/logo.png");
    height: 45px;
    max-width: 130px;
    width: 100%;
    margin-top: 30px;
}
.footer__btn {
    max-width: 154px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
    color: #d2d8d7;
    font-size: 13px;
    line-height: 24px;
    padding: 5px 55px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.footer__nav--title {
    color: #3bb497;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
}
.footer__lang {
    margin: 24px 0;
}

a {
    color: #ffffff;
    font-size: 13px;
    line-height: 32px;
    text-decoration: none;
    list-style: none;
}
.footer__nav--text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__btn--triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
    margin-left: 10px;
}

.footer__info--header {
    max-width: 145px;
    width: 100%;

}

/*===========MEDIA SCREEN===========*/
@media screen and (min-width: 1000px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .main {
        display: flex;
        flex-direction: row;
        /*align-items: flex-start;*/
    }

    .main__container {
        display: flex;
        flex-direction: row;
    }
  /*  .main__user-info {
        margin-left: 30px;
    }*/
    .main__content {
        margin-left: 30px;
    }

    .main__content--courses_title {
        display: flex;
        justify-content: flex-start;
        margin-left: 50px;
    }

    .main__content--courses_box {
        display: flex;
        flex-direction: row;
       /* margin-left: 50px*/
    }

    .courses_box-content {
    border-right: 1px solid #d2d8d7;
    padding-right: 210px;
    }
    .courses_box-price {
        margin: 12px 48px;
    }
    .main__content--learning--box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .main__content--completed--box {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 100px;
        align-items: baseline;
    }
    .footer__navigation {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-left: 30px;
    }
    .footer__info--header {
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer__info {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        max-width: 450px;
        width: 100%;
    }
    .footer__navigation {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-left: 30px;
    }
    .footer__nav {
        padding-right: 13px
    }
}
