html, body {
    margin: 0;
    padding: 0;
    /*font-family: 'Didact Gothic', sans-serif;*/
    font-family: 'Gotham Pro', sans-serif;
    color: #1a1e1d;
    font-size: 100%;
}

a {
    text-decoration: none;
}

.main-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}


/*===================HEADER=================*/
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    padding: 0px 33px 18px;
    border-bottom: 1px solid #d2d8d7;
    box-shadow: 0 1px 0 #dae6e3;
    position: relative;
}

.header__main-logo {
    background: url("./img/logo.png");
    max-width: 130px;
    width: 100%;
    height: 44px;
    /*margin-bottom: 30px;*/
}



input {
    border: none;
    background-image: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    box-sizing: border-box;
    padding-left: 40px;
    width: 100%;
}

input:focus {
    background-image: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
}
.header__nav{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.header__nav-container {
    max-height: 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


.header__dropdown {
    position: relative;
    display: inline-block;
}


.header__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.header__dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header__dropdown-content a:hover {
    background-color: #f1f1f1
}
.header__dropbtn {
    border: none;
    background-image: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.header__dropdown:hover .header__dropdown-content {
    display: block;
}

.header__search {
    max-width: 547px;
    width: 100%;
    border-radius: 38px;
    border: 1px solid #e1eae7;
    background-color: #f4f8f7;
    position: relative;
}

.icon {
    display: inline-block;
}

.icon__main {
    background: url("./img/header-sprit.png");
    background-repeat: no-repeat;
}

/*.icon__main--book {
    background-position: 3px -8px;
    padding: 13px 13px;
}

.icon__main--arrows {
    background-position: -110px -8px;
    padding: 10px 10px;
}*/


.header__dropbtn .header__dropdown-text:before {
    content: '';
    background: url(./img/header-sprit.png) no-repeat;
    width: 36px;
    height: 29px;
    display: inline-block;
    background-position: 8px -5px;
}
.header__dropbtn .header__dropdown-text:after {
    content: '';
    background: url(./img/header-sprit.png) no-repeat;
    width: 27px;
    height: 24px;
    display: inline-block;
    background-position: -108px -8px;
}

.icon__main--search {
    background-position: -177px -13px;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -7.5px;
}

.icon__main--user {
    background-position: -796px -3px;
    padding: 15px 24px;
}

.icon__main--notification {
    background-position: -842px -3px;
    padding: 15px 13px;
}

.header__active {
    display: flex;
}

.header__user-pic {
    margin-left: 24px;
    height: 40px;
    width: 40px;
}

/*=====mob menu=====*/


.burger-container {
    position: absolute;
    right: 23px;
    top: 10px;
}
.burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
    display: none;
}

.burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /*max-height: 0;*/
    transition: max-height 0.5s ease-in-out;

    height: 250px;
    position: absolute;
    top: 64px;
    right: 1px;
    background: white;
    width: 100%;
    padding-top: 53px;
}
/*.burger-check:checked ~ .main-nav {
    height: 250px;
    max-height: initial;
    transition: all 0.5s ease-in-out;
    overflow: auto;
    margin-top: 35px;
    display: flex;
}*/




    /*==============MAIN CONTENT=============*/
.main {
    background-color: #f4f8f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    padding-top: 33px;
}
.main__user-info {
    max-width: 100%;
    /*margin-top: 33px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
   /* padding: 0 12px 0 43px;*/
}
.main__user-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 272px;
    width: 100%;
    height: 272px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 #d2d8d7;
}

.user-pic {
    background-image: url("./img/user2.png");
    width: 72px;
    height: 72px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.main__user-job {
    color: #555a59;
    font-size: 12px;
    margin: 5px;
    font-weight: 200;
}
.main__user-name {
    font-size: 1.125rem;
    margin: 3px;
}

.main__social {
    margin-top: 36px;
}


.icon__social {
    background: url("./img/social-sprite.png");
    background-repeat: no-repeat;
}

.icon__social--fb {
    background-position: 16px 2px;
    padding: 13px 18px;
}
.icon__social--twitter {
    background-position: -13px 2px;
    padding: 13px 18px;
}
.icon__social--telegram {
    background-position: -42px 2px;
    padding: 13px 18px;
}

.main__user-bio--more a {
    color: #3bb497;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon__main--more {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color:#3bb497 transparent transparent transparent;
    margin-left: 10px;
}

.main__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__user-bio {
    max-width: 272px;
    width: 100%;
}
.main__user-bio--info {
    color: #1a1e1d;
    font-size: 13px;
    line-height: 21px;
}

.main__user-bio--title {
    color: #1a1e1d;
    font-size: 14px;
    line-height: 21px;
    margin-top: 30px;
    margin-bottom: 0;
}

.main__content {
    /*max-width: 630px;
    width: 100%;*/
   /* margin-top: 33px;*/
    margin-bottom: 56px;
}


.main__content--statistic {
    background-color: #ffffff;
    box-shadow: 0 1px 0 #d2d8d7;
    font-size: 0;
    padding: 32px 40px;
    /*display: flex;*/
}

.statistic_info {
    display: inline-block;
    width: calc(100%/2);
}

.statistic_num {
    font-weight: bold;
    font-size: 2rem;
    line-height: 40px;
    padding-right: 15px;
}

.statistic_text {
    color: #848c8a;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}

.main__content--courses_box {
    background-color: #ffffff;
    box-shadow: 0 1px 0 #d2d8d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.courses_box-img {
    width: 144px;
    height: 144px;
    /*flex: 1 0 144px;*/
    margin-top: 15px;
}

.pic1{
    background: url("./img/photo1.png");
}
.pic2{
    background: url("./img/photo2.png");
}
.pic3{
    background: url("./img/photo3.png");
}

.courses_box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__content--courses_title {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #1a1e1d;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 24px;
}
.courses_box-content--icons {
    display: flex;
    /*margin: 12px 0;*/
}

.icon__content {
    background: url("./img/content-sprite.png");
    background-repeat: no-repeat;
}

.icon__content--dote {
    background-position: -41px 19px;
    padding: 13px 9px;
}
.icon__content--level {
    background-position: 2px -42px;
    padding: 10px 24px 0 0px;
}

.icon__content--num {
    background-position: -123px -42px;
    padding: 10px 27px 0 10px;
}

.icon__content--people {
    background-position: -189px -42px;
    padding: 10px 27px 0 10px;
}
.icon__content--comment {
    background-position: -262px -43px;
    padding: 10px 27px 0 10px;
}

.courses_box-content--text {
    color: #1a1e1d;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.box-margin {
    margin-top: 40px;

}
.courses__box-job, .courses_box-data {
    font-size: 13px;
    line-height: 24px;
}
.courses__box-job {
    color: #3bb497;
}
.courses_box-data {
    color: #848c8a;
}

.icon__content--text {
    color: #1a1e1d;
    font-size: 13px;
    line-height: 24px;
    margin: 12px 16px 0 0;
}

.courses_box-price{
    margin: 12px 0px;
    font-weight: bold;
}

.panel-box__container {
    color: #1a1e1d;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.progress--line-container {
    display: flex;
    width: 204px;
    height: 6px;
    border-radius: 3px;
    background-color: #e1eae7;
    margin: 0 16px;
}

.progress-line__gray{
    background-color: #e1eae7;
}
.progress-line__orange {
    background-color: #f5a623;
}

.progress--text {
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
}
.progress--value {
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}

/*==============FOOTER==============*/
footer {
    background-color: #47546d;
    margin-top: 1px;
}

.footer__container {
    display: flex;
    flex-direction: column;
}
.footer__info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    background: url("./img/logo.png");
    height: 45px;
    max-width: 130px;
    width: 100%;
    margin-top: 45px;
}
.footer__btn {
    max-width: 154px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    color: #d2d8d7;
    font-size: 13px;
    line-height: 24px;
    padding: 5px 55px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.footer__nav--title {
    color: #3bb497;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
}
.footer__lang {
    margin: 45px 0;
}

a {
    color: #ffffff;
    font-size: 13px;
    line-height: 32px;
    text-decoration: none;
    list-style: none;
}
.footer__nav--text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__btn--triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
    margin-left: 10px;
}

.footer__info--header {
    max-width: 145px;
    width: 100%;

}

.panel-box {
    background: #fff;
    /*height: 80px;*/
    border-bottom: 1px solid #d2d8d7;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.panel-box__height {
    height: 80px;
}

.justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*===========MEDIA SCREEN===========*/
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .burger {
        display: none;
    }
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 700px;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: inherit;
        max-height: 100%;
        width: 100%;

        height: inherit;
        padding-top: 0;
        right: 0;
        top: 0;
        position: inherit;
    }
    .main__content {
        max-width: 768px;
        width: 100%;
    }
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header__main-logo {
         margin-bottom: 0;
    }
    .header__nav {
        width: 350px;
    }
    .header__dropbtn {
        display: flex;
        align-items: center;
    }
    .header__search {
        max-width: 200px;
        width: 100%;
    }

    .header__dropdown-text {
        display: flex;
        align-items: center;
    }

    .main__content--statistic {
        display: flex;
    }
    .statistic_info {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 17.5px;
        margin-bottom: 10px;
        /*padding-right: 35px;
        border-right: 1px solid rgba(216, 216, 216, 0.44);*/
    }
    .statistic_info:not(:last-child) {
        padding-right: 17.5px;
        border-right: 1px solid rgba(216, 216, 216, 0.44);
    }
    .panel-box {
        height: 80px;
    }

    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer__info {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        max-width: 450px;
        width: 100%;
    }
    .footer__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 390px;
        width: 100%;
        margin-right: 65px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 13px;
    }
    .footer__nav--text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1000px) {
    .burger {
        display: none;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: inherit;
        max-height: 100%;
        width: 100%;

        height: inherit;
        padding-top: 0;
        right: 0;
        top: 0;
        position: inherit;
    }
    .main-header {
        display: flex;
        flex-direction: row;
        height: 68px;
        padding: 12px 40px;
        margin: 0;
    }

    .container {
        max-width: 1162px;
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
    }

    .header__nav {
        max-width: 610px;
        width: 100%;
    }

    .header__search {
        max-width: 430px;
        width: 100%;
        margin-right: 0;
        position: relative;
    }
    .header__main-logo {
        margin-bottom: 0;
    }
    .header__dropdown-text {
        display: flex;
        align-items: center;
    }

    .icon__main--search {
        background-position: -177px -13px;
        width: 15px;
        height: 15px;
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -7.5px;
    }

    .main {
        display: flex;
        flex-direction: row;
    }

    .main__container {
        display: flex;
        flex-direction: row;
       /* padding-right: 40px;*/
    }
    .main__content {
       /* margin-left: 12px;
        max-width: 670px;
        width: 100%;*/
        width: 70%;
    }

    .main__content--courses_title {
        display: flex;
        justify-content: flex-start;
    }

    .main__content--courses_box {
        display: flex;
        flex-direction: row;
        padding-top: 0;
    }

    .courses_box-content {
        border-right: 1px solid #d2d8d7;
        /*padding-right: 103px;*/
        height: 144px;
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;
    }
    .courses_box-price {
        /*margin: 12px 48px;*/
        width: 22%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .courses_box-img {
        margin-top: 0;
        width: 22%;
    }

    .main__content--learning--box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .main__content--completed--box {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 140px;
        align-items: baseline;
    }
    .main__content--statistic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 26px;
        padding: 20px 65px;
    }
    .panel-box {
        height: 80px;
    }
    .progress {
        display: flex;
        align-items: center;
        transition: width 0.5s ease;
    }
    /*.progress--line-container {*/
        /*padding: 0 14px;*/
    /*}*/

    .main__user-info {
       /* padding: 0 12px 0 43px;*/
        width: 30%;
    }
    .footer__info--header {
        max-width: 100%;
       /* max-width: 500px;*/
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer__info {
        width: 50%;
    }
    .statistic_info {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 17.5px;
    }
    .statistic_info:not(:last-child) {
        padding-right: 17.5px;
        border-right: 1px solid rgba(216, 216, 216, 0.44);
    }
    .footer__text {
        padding: 43px 0;
    }
    .footer__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /*max-width: 390px;*/
        width: 50%;
        /*margin-right: 65px;*/
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 13px;
    }
    .footer__nav--text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


